* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #cfcdcd;
}

#dropdownMenuButton1 {
  background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-size: 15px;
  cursor: pointer;
}

#dropdownMenuButton1 img {
  width: 30px;
  height: 30px;
  margin-right: 5px;
  margin-top: 0px;
  border-radius: 100%;
}

hr {
  color: #cacbd5;
}

/* navbar */
#dropdownMenuButton1 {
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 17px;
}

.profileDropdown {
  padding-left: 9rem;
}


#donationImage {
  width: 100%;
  height: 55vh;
  background-image: url('/images/donation/pexels-antoni-shkraba-7345444.jpg');
  background-size: cover
}

.pay {
  background-color: #cfcdcd;
  border: 2px solid #212529;
  color: #212529;
  padding-top: 2%;
  width: 50%;
  margin: 0 auto;

}

.pay p {
  text-align: justify;
}

#paypal-button-container {
  padding-top: 2rem;
  padding-bottom: 3rem;
  display: flex;
  justify-content: center;
  color: #fff !important;
}

.featurette-divider {
  color: #212529;
  margin: 2rem 0;
  /* Space out the Bootstrap <hr> more */
}


/* footer p {
  width: 100%;
  background-color: #cacbd5;
  padding-top: 3rem;
} */