* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {  
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: #5a5a5a;
}

#main {
  background-color: #aeaeae;
}


.btn-profile {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin-right: 20px;
}

.userProfile {
  padding-left: 7.5rem;
}

.causer-cardrd {
    width: 350px;
    background-color: #efefef;
    border: none;
    cursor: pointer;
    transition: all 0.5s
}

.image img {
    transition: all 0.5s
} 

.user-card {
  width: 70%;
}

.user-card:hover .image img {
    transform: scale(1.5)
} 

.imgBtn {
    height: 140px;
    width: 140px;
    border-radius: 50%
}

.name {
    font-size: 22px;
    font-weight: bold
}

.idd {
    font-size: 14px;
    font-weight: 600
}

.idd1 {
    font-size: 12px
}

.number {
    font-size: 22px;
    font-weight: bold
}

.follow {
    font-size: 12px;
    font-weight: 500;
    color: #444444
}

.editBtn {
    height: 40px;
    width: 200px;
    border: none;
    background-color: #000;
    color: white;
    font-size: 15px
}

.text span {
    font-size: 13px;
    color: #545454;
    font-weight: 500
}

.icons i {
    font-size: 19px
}

hr .new1 {
    border: 1px solid
}

.join {
    font-size: 14px;
    color: #a0a0a0;
    font-weight: bold
}

.date {
    background-color: #ccc
}

.ads {
  margin-top: 3rem;
  max-width: 80%;
  height: auto;
  background-color: #838388;
  color: white;
}


/* Edit form */

#editform{
    margin-top: 2.5rem;
    margin-bottom: 3rem;
    border: 1px solid #efefef;
    border-radius: 5px;
    width: 100%;
    background: white
}