<div>
    <form class="form-create-listing" action="/restlisting" method="POST">
        <h3 class="mt-4 mb-4 text-center">Δημιουργία αγγελίας</h3>
        <div class="form-group row ">
            <label for="type" class="col-4 col-form-label">Τύπος: </label>
            <div class="col-6">
                <select id="type" class="form-select" aria-label="multiple select example" name="isOffered">
                    <option value="true" name="isOffered" >Αγγελία προσφοράς</option>
                    <option value="false" name="isOffered" >Αγγελία ζήτησης</option>
                </select>
            </div>
        </div>
        <div class="form-group row " >
            <label for="type" class="col-4 col-form-label">Κατηγορία: </label>
            <div class="col-6">
                <select id="type" class="form-select" aria-label="multiple select example" name="category_id" >
                    <% for (let i = 0; i < categories.length; i++){ %>
                        <option id="<%= categories[i].id %>" value="<%= categories[i].id %>"><%= categories[i].name %></option>
                    <% } %>
                </select>
            </div>
        </div>
        <div class="form-group row ">
            <label for="type" class="col-4 col-form-label">Όνομα: </label>
            <div class="col-6">
            <input placeholder="Όνομα" name="name" maxlength="50" required >
        </div>
        </div>
        <div class="form-group row ">
            <label for="small_bio" class="col-4 col-form-label" >Περιγραφή: </label>
            <div class="col-6">
                <textarea class="form-control" name="description" maxlength="200" id="small_bio" rows="5" required></textarea>

            </div>
        </div>
       
        <div class="form-group row ">
            <label for="dateOfBirth" class="col-4 col-form-label">Διαθέσιμη από: </label>
            <div class="col-6">
                <input type="date" name="startingDate" id="startingDate" min="today"  required autofocus>

            </div>
        </div>
        <div class="form-group row ">
            <label for="dateOfBirth" class="col-4 col-form-label">Διαθέσιμη έως: </label>
            <div class="col-6">
                <input type="date" name="endingDate" id="endingDate" oninput="this.className = ''" required autofocus>
                <small id="validationDate" style="display: none;" >*Παρακαλούμε εισάγετε έγκυρη ημερομηνία.</small>
            </div>
        </div>
        <div class="text-center mt-4">
            <button type="submit" class="btn btn-danger"  >Δημιουργία</button>
        </div>  
    </form>
</div>


<script src="/customJs/creating-listing.js" >

</script>






