
<div class="container mt-5">
  <div class="row d-flex justify-content-center align-items-center">
    <div class="col-md-6">
      <form id="regForm">
        <h1 id="register">Εγγραφή</h1>
        <div class="all-steps" id="all-steps"> <span class="step"></span> <span class="step"></span> <span
            class="step"></span> <span class="step"></span> </div>
        <div class="tab">
          <p><input placeholder="First Name" oninput="this.className = ''" name="first"></p>
          <p><input placeholder="Last Name" oninput="this.className = ''" name="last"></p>
          <p><input placeholder="Email" oninput="this.className = ''" name="email"></p>
          <p><input type="password" placeholder="password" oninput="this.className = ''" name="password"></p>
        </div>

        <div class="tab">
          <p>Φύλο:</p>
          <label class="container">Male <input type="radio" checked="checked" name="radioGender">
            <span class="checkmark"></span>
          </label> <label class="container">Female <input type="radio" name="radioGender">
            <span class="checkmark"></span> </label>
          </label> <label class="container">Other <input type="radio" name="radioGender">
            <span class="checkmark"></span> </label>
        
          <p>Ημερομηνία Γέννησης: </p>
          <p><input type="date" placeholder="Ημερομηνία Γέννησης" oninput="this.className = ''" name="dateOfBirth"></p>
        
          <p>Υπάρχει διέυθυνση σταθερής κατοικίας; :</p>
           <label class="container">Ναι <input type="radio" name="radioAdress">
            <span class="checkmark"></span> </label>
          </label> <label class="container">Οχι <input type="radio" name="radioAdress">
            <span class="checkmark"></span> </label>
        
          <p>Διέυθηνση: </p>
          <p><input placeholder="Street Address" oninput="this.className = ''" name="address"></p>
        </div>

        <div class="tab">
          <div class="form-group row">
            <label for="profileImg" class="col-4 col-form-label"> Προσθέστε φωτογραφία : </label>
            <div class="col-6">
              <input type="file" class="form-control-file" id="profileImg">
            </div>
          </div>
          <div class="form-group row ">
            <label for="small_bio" class="col-4 col-form-label">Λίγα λόγια για εμένα: </label>
            <div class="col-6">
              <textarea class="form-control" name="small_bio" id="small_bio" rows="5"></textarea>
          </div>
        </div>
      </div>

        <div class="tab">
          <p>Μερικές ερωτήσεις για να γνωριστούμε καλύτερα. Αυτές οι πληροφορίες δεν θα γίνουν ποτέ γνωστές σε τρίτους.
            Μπορείτε ανα πάσα στιγμή να τις ανανεώσετε.</p>
        
          <p>Αυτό το διάστημα έχετε μόνιμη εργασία:</p>
          <label class="container"> Ναι<input type="radio" checked="checked" name="radioWork">
            <span class="checkmark"></span>
          </label>
          <label class="container">Οχι<input type="radio" name="radioWork">
            <span class="checkmark"></span>
          </label>
        
          <p>Υπάρχει κάποια μορφή αναπηρίας:</p>
          <label class="container"> Ναι<input type="radio" checked="checked" name="radioAmea">
            <span class="checkmark"></span>
          </label>
          <label class="container">Οχι<input type="radio" name="radioAmea">
            <span class="checkmark"></span>
          </label>
        
          <p>Έχετε ασχοληθεί στο παρελθόν ξανά με εθελοντισμό:</p>
          <label class="container"> Ναι<input type="radio" checked="checked" name="radioEth">
            <span class="checkmark"></span>
          </label>
          <label class="container">Οχι<input type="radio" name="radioEth">
            <span class="checkmark"></span>
          </label>
        
          <p>Πόσο ελεύθερο χρόνο διαθέτετε μέσα στη βδομάδα για εθελοντικές δράσεις:</p>
          <label class="container"> Καθόλου<input type="radio" checked="checked" name="radioTime">
            <span class="checkmark"></span>
          </label>
          <label class="container">Ελάχιστο χρόνο<input type="radio" name="radioTime">
            <span class="checkmark"></span>
          </label>
          <label class="container">Κυρίως τα σαββατοκύριακα<input type="radio" name="radioTime">
            <span class="checkmark"></span>
          </label>
          <label class="container">Μερικές μέρες της εβδομάδας<input type="radio" name="radioTime">
            <span class="checkmark"></span>
          </label>
        
        
        </div>

        <div class="thanks-message text-center" id="text-message"> <img src="https://i.imgur.com/O18mJ1K.png"
            width="100" class="mb-4">
          <h3>Ευχαρισούμε για την εγγραφή σας </h3> <span>Παρακαλούμε επιβαιβεώστε την εγγραφή σας στο email σας!</span>
        </div>
        <div style="overflow:auto;" id="nextprevious">
          <div style="float:right;"> <button type="button" id="prevBtn" onclick="nextPrev(-1)">Previous</button> <button
              type="button" id="nextBtn" onclick="nextPrev(1)">Next</button> </div>
        </div>
      </form>
    </div>
  </div>
</div>