<form action="/user/avatar" method="POST" enctype="multipart/form-data" >

    <input type="file" class="form-control-file" id="regProfileImg" name="photo" >
    <button type="submit">Ανέβασε την φωτογραφία σου</button>
  </form>