<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Αρχική</a>
        </li>
        <!-- <li class="nav-item">
              <a class="nav-link" href="#">Features</a>
            </li> -->
        <li class="nav-item">
          <a class="nav-link" href="#features">Ποιοι είμαστε</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">
            Κοινότητα
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="#">Αγγελίες Προσφοράς</a></li>
            <li><a class="dropdown-item" href="#">Αγγελίες Ζήτησης</a></li>
            <li><a class="dropdown-item" href="#">Δράσεις</a></li>
          </ul>
        </li>
      </ul>
    </div>

    <div class="dropdown userProfile">
      <button class="btn-profile btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
        data-bs-toggle="dropdown" aria-expanded="false">
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li><a class="dropdown-item" href="#">Προφίλ</a></li>
        <li><a class="dropdown-item" href="#">Επεξεργασία Προφίλ</a></li>
        <li><a class="dropdown-item" href="#">Συνδρομή</a></li>
        <li><a class="dropdown-item" href="#">Αποσύνδεση</a></li>
      </ul>
    </div>

  </div>
</nav>
<div id="main">

  <div class="row">
    <div class="col-4">

      <div class="container mt-4 mb-4 p-3 d-flex">
        <div class="card user-card p-4">
          <div class=" image d-flex flex-column justify-content-center align-items-center">
            <button class="imgBtn btn-secondary">
              <img src="" height="100" width="100" />
            </button>
            <span class="name mt-3">user</span>
            <span class="idd">@user</span>
            <div class=" d-flex mt-2">
              <button class="editBtn btn-dark">Επεξεργασία Προφίλ</button>
            </div>
            <div class=" d-flex mt-2">
              <button class="editBtn btn-dark">Σχόλια</button>
            </div>
            <div class=" d-flex mt-2">
              <button class="editBtn btn-dark" id="offered" value="offered">έχει προσφέρει</button>
            </div>
            <div class=" d-flex mt-2">
              <button class="editBtn btn-dark" id="received" value="received">έχει δεχθεί</button>
            </div>
            <div class=" d-flex mt-2">
              <button class="editBtn btn-dark">Μηνύματα</button>
            </div>
            <div class="text mt-3">
              <span>
                user infos
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-8">
      <div class="ads">
        <div class="card-header">
          <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
              <a class="nav-link active" aria-current="true" href="#">Eva Papageorgiou </a>
            </li>
          </ul>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-6">
              <h5 class="card-title">Βασικές πληροφορίες:</h5>
              <hr>
              <br>
              <div class="row">
                <div class="col-3">
                  <p>Ηλικία:</p>
                  <p>Φύλο:</p>
                  <p>Email:</p>
                </div>
                <div class="col-3">
                  <p>26</p>
                  <p>Γυναίκα</p>
                  <p>skinsep@gmail.com</p>
                </div>
              </div>
            </div>
            <div class="col-6">
              <h5 class="card-title">Περιγραφή:</h5>
              <hr>
              <br>
              <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illum dolorem assumenda officiis corrupti beatae hic voluptatem eos vitae illo recusandae quod temporibus rerum natus voluptate quia, excepturi id, at similique!
              </p> 
            </div>
          </div>
          
          <!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-dark">Δημιουργία</a> -->
        </div>
      </div>
    </div>

  </div>

 <div id="arrangementsOffered"></div>
 <div id="arrangementsReceived"></div>

</div>