<div>
    <form class="form-register">
        <h3 class="mt-4 mb-4 text-center">Δημιουργία αγγελίας</h3>
        <div class="form-group row ">
            <label for="type" class="col-4 col-form-label">Τύπος: </label>
            <div class="col-6">
                <select id="type" class="form-select" aria-label="multiple select example">
                    <option value="1">Αγγελία προσφοράς</option>
                    <option value="2">Αγγελία ζήτησης</option>
                </select>
            </div>
        </div>
        <div class="form-group row ">
            <label for="type" class="col-4 col-form-label">Κατηγορία: </label>
            <div class="col-6">
                <select id="type" class="form-select" aria-label="multiple select example">
                    <option value="1">Σίτιση</option>
                    <option value="2">Στέγαση</option>
                    <option value="3">Προσφορά μαθημάτων</option>
                    <option value="4">Μεταφορικές υπηρεσίες</option>
                    <option value="5">Τεχνικές εργασίες</option>
                    <option value="6">Οικιακές εργασίες</option>
                    <option value="7">Υπηρεσίες φύλαξης</option>
                    <option value="8">Άλλο</option>
                </select>
            </div>
        </div>
        <div class="form-group row ">
            <label for="small_bio" class="col-4 col-form-label">Περιγραφή: </label>
            <div class="col-6">
                <textarea class="form-control" name="small_bio" id="small_bio" rows="5"></textarea>

            </div>
        </div>
       
        <div class="form-group row ">
            <label for="dateOfBirth" class="col-4 col-form-label">Διαθέσιμη από: </label>
            <div class="col-6">
                <input type="date" name="" id="dateOfBirth" required autofocus>

            </div>
        </div>
        <div class="form-group row ">
            <label for="dateOfBirth" class="col-4 col-form-label">Διαθέσιμη έως: </label>
            <div class="col-6">
                <input type="date" name="" id="dateOfBirth" required autofocus>

            </div>
        </div>
        <div class="text-center mt-4">
            <button type="submit" class="btn btn-danger">Δημιουργία</button>
        </div>  
    </form>
</div>









